# Database
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_DBJM=matchjob

# Application
SERVER_PORT=8080
SPRING_DATASOURCE=jdbc:postgresql://${POSTGRES_HOST}:5432/${POSTGRES_DBJM}
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

# Pool/Hibernate
HIBERNATE_JDBC_FETCH_SIZE=50
HIBERNATE_CONNECTION_AUTOCOMMIT=false

# Logging
LOG_LEVEL=INFO
LOG_SQL=INFO